{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}


<form  method="POST" action="{% url 'delete_order' item.id %}" >

    {% csrf_token %}

    {{ form }}
    <div class="alert alert-danger">

        <p class="  "> Are you sure you want to delete this {{ item }}? </p>

        <a  class="btn btn-sm btn-info" href="{% url 'home' %}">
            Cancel
        </a>
    
        <input  type="submit" class="btn btn-sm btn-danger" name="Confirm" value="Confirm">

    </div>

</form>


{% endblock %}